{% extends 'base.html' %}
{% load static %}
{% block title %}

<title>首頁</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/todo.css' %}">
{% endblock %}
{% block content %}

<h1>Todolist</h1>
{% if not request.user.is_authenticated %}
<h3>請先註冊或登入</h3>
{% else %}
<ul>
    {% if not todos %}
    <h3>目前無代辦事項，請先新增</h3>
    {% else %}
    {% for todo in todos %}
    <li>
        {% if todo.important is True %}
        <span style="color:red">(重要)</span>
        {% endif %}
        <small>{{todo.created}}</small><br>
        ---><a href="{% url 'viewtodo' todo.id %}">
            {% if todo.completed %}

            {% else %}
            {{todo.title}}
            {% endif %}
        </a><br>
        <form action="{% url 'delete' todo.id %}">
            <button type="submit">刪除</button>
        </form>

        <form action="{% url 'completed_by_id' todo.id %}">
            <button type="submit">完成</button>
        </form>
    </li>

    {% endfor %}
    {% endif %}
</ul>
{% endif %}

{% endblock %}